<div class="container">
  <h3>{{ questionString }}</h3>
  <div class="modal-body">
    <div class="quiz" id="quiz" data-toggle="buttons">

        <h5>{{timeLeft}}s</h5><br> 

      <label class="element-animation1 btn btn-lg btn-primary btn-block"
      (click)="isAnswered? null : answerOption(1)">
        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
        {{ optionOne }}
      </label>

      <label class="element-animation2 btn btn-lg btn-primary btn-block"
      (click)="isAnswered? null : answerOption(2)">
        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
        {{ optionTwo }}
      </label>

      <label class="element-animation3 btn btn-lg btn-primary btn-block" (click)="answerOption(3)">
        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
        {{ optionThree }}
      </label>

      <label class="element-animation4 btn btn-lg btn-primary btn-block" (click)="answerOption(4)">
        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
        {{ optionFour }}
      </label>
      
      <br>
      <h5>Player One: {{ playerOneScore }}</h5>
      <br>
      <h5>Player Two: {{ playerTwoScore }}</h5>
    </div>
  </div>
</div>