<div class="container">
  <div id="logo">
    <app-logo></app-logo>
  </div>
  <div class="form-box">
    <div class="form-top">
      <h4>WELCOME BACK</h4>
      <div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput
            type="email"
            required
            formControlName="email"
            [errorStateMatcher]="matcher">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput
            type="password"
            required
            formControlName="password">
          </mat-form-field>

          <p>{{ errorMessage }}</p>

          <button class="sign-up-btn"
          [ngClass]="{'sign-up-btn-hover': gethover}"
          (mouseenter)="gethover = true"
          (mouseleave)="gethover = false"
          type="submit">LOGIN</button>
        </form>
      </div>
      <p>New kid on the block? <a routerLink="/signup"> Register!</a></p>
    </div>
  </div>
</div>